<!DOCTYPE html>
<html lang="en">

<head>
  <title>%SITE_TITLE%</title>
  <meta charset="utf-8" />
  <meta http-equiv="X-UA-Compatible" content="IE=edge" />
  <meta name="robots" content="noindex, nofollow" />
  <meta name="viewport" content="width=device-width, initial-scale=1" />
  <link rel="shortcut icon" type="image/x-icon" href="favicon.ico" />
  <link rel="alternate" type="application/rss+xml" title="%SITE_TITLE%" href="%FEED_FILENAME%" />
  <link href="styles.css" rel="stylesheet" />
  <!-- %before-head-end.html% -->
</head>

<body>
  <!-- %after-body-begin.html% -->
  <ul class="days">
  {{#each dates}}
    <li class="day">
      <section>
      <h1>{{isoPublishDate}}</h1>
      <ul class="sources">
      {{#each sources}}
        <li class="source">
          <section>
            <h1>
              <a href="{{siteUrl}}">{{title}}</a>
            </h1>
            <ul class="articles">
              {{#each articles}}
              <article>
                <h2>{{title}}</h2>
                <p>{{description}}</p>
                <a href="{{link}}">Open article</a>
              </article>
              {{/each}}
            </ul>
          </section>
        </li>
      {{/each}}
      </ul>
      </section>
    </li>
  {{/each}}
  </ul>
  <hr>
  <ul class="sources">
    {{#each sources}}
    <li class="source">
      <section>
        <h1>
          <a href="{{siteUrl}}">{{title}}</a>
        </h1>
        <ul>
        {{#each dates}}
          <li class="day">
            <section>
            <h1>{{isoPublishDate}}</h1>

            <ul class="articles">
              {{#each articles}}
              <article>
                <h2>{{title}}</h2>
                <p>{{summary}}</p>
                <a href="{{link}}">Open article</a>
              </article>
              {{/each}}
            </ul>

            </section>
          </li>
        {{/each}}
        </ul>
      </section>
    </li>
    {{/each}}
  </ul>
  <hr>
  <ul class="articles">
    {{#each articles}}
    <article>
      <h2>{{title}}</h2>
      <p>{{summary}}</p>
      <a href="{{link}}">Open article</a>
      <p>From {{source.title}}</p>
    </article>
    {{/each}}
  </ul>
  <script src="index.js"></script>
  <!-- %before-body-end.html% -->
</body>

</html>